<table class="table table-sm table-dark" style="text-align:center;">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">passengers</th>
                <th scope="col">consumables</th>
                <th scope="col">Length</th>
                <th scope="col">Vehicle class</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of vehicles">
                <td>{{ vehicle.name }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.passengers }}</td>
                <td>{{ vehicle.consumables }}</td>
                <td>{{ vehicle.length }}</td>
                <td>{{ vehicle.vehicle_class }}</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><button class="page-link" (click)="getPage('https://swapi.co/api/vehicles/?page=1')">1</button></li>
            <li class="page-item"><button class="page-link" (click)="getPage('https://swapi.co/api/vehicles/?page=2')">2</button></li>
            <li class="page-item"><button class="page-link" (click)="getPage('https://swapi.co/api/vehicles/?page=3')">3</button></li>
            <li class="page-item"><button class="page-link" (click)="getPage('https://swapi.co/api/vehicles/?page=4')">4</button></li>
        </ul>
    </nav>
    
    
    
