<div class="container" align="center">
    <div class="row">
        <div class="col-md-12">
        <a routerLink="/"><img src="assets/img/perfil.png" class="img-fluid" alt="Responsive image"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a routerLink="people" class="mb-2 btn btn-outline-warning">People</a>-
            <a routerLink="planets" class="mb-2 btn btn-outline-warning">Planets</a>-
            <a routerLink="films" class="mb-2 btn btn-outline-warning">Films</a>-
            <a routerLink="species" class="mb-2 btn btn-outline-warning">Species</a>-
            <a routerLink="vehicles" class="mb-2 btn btn-outline-warning">Vehicles</a>-
            <a routerLink="starships" class="mb-2 btn btn-outline-warning">Starships</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>






