  <div class="row">
    <div class="col-md-4">
      <img src="assets/img/people.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-4">
      <img src="assets/img/planets.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-4">
      <img src="assets/img/films.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-warning">People</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-warning">People</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-warning">People</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
        <img src="assets/img/species.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-4">
        <img src="assets/img/vehicles.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-4">
        <img src="assets/img/starships.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-warning">People</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-warning">People</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-warning">People</button>
    </div>
  </div>

