<div class="row">
  <div class="col-md-4">
    <a routerLink="people">
      <img src="assets/img/people.png" class="img-fluid" alt="Responsive image">
    </a>
    <small  class="form-text text-muted">People</small>
  </div>
  <div class="col-md-4">
    <a routerLink="planets">
      <img src="assets/img/planets.png" class="img-fluid" alt="Responsive image">
    </a>
    <small  class="form-text text-muted">Planets</small>
  </div>
  <div class="col-md-4">
    <a routerLink="films">
      <img src="assets/img/films.png" class="img-fluid" alt="Responsive image">
    </a>
    <small  class="form-text text-muted">Films</small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <a routerLink="species">
      <img src="assets/img/species.png" class="img-fluid" alt="Responsive image">
    </a>
    <small  class="form-text text-muted">Species</small>
  </div>
  <div class="col-md-4">
    <a routerLink="vehicles">
      <img src="assets/img/vehicles.png" class="img-fluid" alt="Responsive image">
    </a>
    <small  class="form-text text-muted">Vehicles</small>
  </div>
  <div class="col-md-4">
    <a routerLink="starships">
      <img src="assets/img/starships.png" class="  img-fluid" alt="Responsive image">
    </a>
    <small  class="form-text text-muted">Starships</small>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
    <small  class="form-text text-muted">
      Para interactuar con las opciones hacer click sobre cualquiera de las imagenes.<br>
      Julio Cesar Ortega Tabare - Ingeneria de software
    </small>
  </div>
</div>



